<!-- Template Header -->
<header class="template-header">
	<div class="container  row  row--sb">
		<div class="flex-item">
			<ul class="company-list">
				<li class="company-list-item">
					{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
				</li>
				<li class="company-list-item">
					{{widget('content', 'companyname-sub', { content:'
		                <h4>ACTRESS</h4>
		            '})|raw}}
				</li>
			</ul>
		</div>
		<div class="flex-item">
			<nav class="template-navigation  template-navigation--header">
				<button class="navigation-toggle"></button>
				<ul class="navigation-list">
					<li class="navigation-item">
						<a href="/" class="navigation-link"></a>
					</li>
					<li class="navigation-item">
						<a href="/cv" class="navigation-link">CV</a>
					</li>
					<li class="navigation-item">
						<a href="/showreel" class="navigation-link">Showreel</a>
					</li>
					<!-- <li class="navigation-item">
						<a href="/voicereel" class="navigation-link">Voicereel</a>
					</li> -->
					<li class="navigation-item">
						<a href="/gallery" class="navigation-link">Gallery</a>
					</li>
					<li class="navigation-item">
						<a href="/news" class="navigation-link">News</a>
					</li>
					<li class="navigation-item">
						<a href="/reviews" class="navigation-link">Reviews</a>
					</li>
					<li class="navigation-item">
						<a href="/contact" class="navigation-link">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>