<!-- Template Header -->
<header class="template-header">
	<div class="container  row  row--sb">
		<div class="flex-item">
			<ul class="company-list">
				<li class="company-list-item">
					{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
				</li>
				<li class="company-list-item">
					{{widget('content', 'companyname-sub', { content:'
		                <h4>ACTRESS</h4>
		            '})|raw}}
				</li>
			</ul>
		</div>
		<div class="flex-item">
			<nav class="template-navigation">
				<ul class="navigation-list">
					<li class="navigation-item">
						<a href="/" class="item-name"></a>
					</li>
					<li class="navigation-item">
						<a href="/cv" class="item-name">CV</a>
					</li>
					<li class="navigation-item">
						<a href="/showreel" class="item-name">Showreel</a>
					</li>
					<li class="navigation-item">
						<a href="/voicereel" class="item-name">Voicereel</a>
					</li>
					<li class="navigation-item">
						<a href="/gallery" class="item-name">Gallery</a>
					</li>
					<li class="navigation-item">
						<a href="/news" class="item-name">News</a>
					</li>
					<li class="navigation-item">
						<a href="/reviews" class="item-name">Reviews</a>
					</li>
					<li class="navigation-item">
						<a href="/contact" class="item-name">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>